// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

IOS_FILES = */iOS/* */iOS/*/*
TVOS_FILES = */tvOS/* */tvOS/*/*
MACOSX_FILES = */macOS/* */macOS/*/*

EXCLUDED_SOURCE_FILE_NAMES = $(IOS_FILES) $(TVOS_FILES) $(MACOSX_FILES)
INCLUDED_SOURCE_FILE_NAMES =
INCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = $(IOS_FILES)
INCLUDED_SOURCE_FILE_NAMES[sdk=appletv*] = $(TVOS_FILES)
INCLUDED_SOURCE_FILE_NAMES[sdk=macos*] = $(MACOSX_FILES)

SUPPORTED_PLATFORMS = iphonesimulator iphoneos appletvsimulator appletvos watchos macosx
TARGETED_DEVICE_FAMILY = 1,2,3

IPHONEOS_DEPLOYMENT_TARGET = 11.0
TVOS_DEPLOYMENT_TARGET = 11.0
WATCHOS_DEPLOYMENT_TARGET = 6.0
MACOSX_DEPLOYMENT_TARGET = 10.15
SWIFT_VERSION = 5.0

// Conditionally search for Carthage frameworks
// These frameworks can be linked easier by adding `-framework MyFramework` to Other Linker Flags
// in your target build settings
FRAMEWORK_SEARCH_PATHS[sdk=iphone*] = $(PROJECT_DIR)/Carthage/Build/iOS
FRAMEWORK_SEARCH_PATHS[sdk=appletv*] = $(PROJECT_DIR)/Carthage/Build/tvOS
FRAMEWORK_SEARCH_PATHS[sdk=watchos*] = $(PROJECT_DIR)/Carthage/Build/watchOS
FRAMEWORK_SEARCH_PATHS[sdk=macos*] = $(PROJECT_DIR)/Carthage/Build/Mac

ENABLE_BITCODE[sdk=iphone*] = YES
ENABLE_BITCODE[sdk=appletv*] = YES
ENABLE_BITCODE[sdk=watchos*] = YES
ENABLE_BITCODE[sdk=macos*] = YES
// Autolinking lets Xcode link frameworks when we haven't added them to the Linked Libraries build phase.
// We want to have full control over our dependency chain.
CLANG_MODULES_AUTOLINK = NO

// Defaults
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
COPY_PHASE_STRIP = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks
VERSIONING_SYSTEM = apple-generic
